* {
  border:2px solid green;
  background-color:lightblue;
  }

body {
  font-family: Arial;
  font-size: 20px;
  color: #665544
}
  a:hover {
  background-color: lightyellow;}

  h1 {
    text-align:center;
    font-weight:bolder;
  }

  li {
    display:inline;
    list-style-type: none;
    padding:15px;
    text-align: center;
    font-size: 20px;
    background-color: lightblue;
    padding:20px;
    border-style:solid;
  }
  #column1 {
  display:block;
  list-style-type: none;
  padding:15px;
  text-align: center;
  font-size: 20px;
  background-color: lightblue;
  padding:20px;
  border-style:solid;

  }
  #column2 {
  display:block;
  list-style-type: none;
  padding:15px;
  text-align: center;
  font-size: 20px;
  background-color: lightblue;
  padding:20px;
  border-style:solid;
  display:block
  }
  #column3 {
  display:block;
  list-style-type: none;
  padding:15px;
  text-align: center;
  font-size: 20px;
  background-color: lightblue;
  padding:20px;
  border-style:solid;
  display:block;
  }

  #image1{
    margin:auto;
    text-align:center;
    background-color:lightblue;
    padding:10px;
  }

  #image2 {
    margin-left 20px;
    list-style-type:none;
    padding:10px;
    border:10px;
    text-align: center;
  }

  p{
    padding:20px;
  }
